[submodule "pdfjs-dist"]
	path = vendor/pdfjs-dist
	url = https://github.com/mozilla/pdfjs-dist.git
[submodule "LaTeX-Workshop"]
	path = vendor/LaTeX-Workshop
	url = https://github.com/James-Yu/LaTeX-Workshop.git
